/*Enter your code here*/

body {
    background-image: url('../images/background.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h5 {
    text-align: center;
}

.modal,
.modal-body,
form,
.btn {
    width: 100%;
}

form .form-control {
    background-color: #F4F6F6;
    border: none;
}

form label {
    font-weight: 600;
    font-size: 18px;
}

form .footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.modal .modal-header .modal-title {
    margin-left: 30%;
}

.center {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.center-Buttons {
    background-color: #F1C40F;
    color: black;
    font-weight: 600;
    padding: 7px;
    margin-left: 10px;
    cursor: pointer;
}

form .form-control2 {
    background-color: #F4F6F6;
}

form .form-control1 {
    background-color: #F4F6F6;
    border: none;
    width: 300px;
}

form .btn1 {
    border: none;
    text-align: center;
    margin-left: 37%;
    padding: 10px;
    width: 100px;
}